@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { 
    font-family: 'Urbanist', sans-serif; 
  }
  html { 
    scroll-behavior: smooth; 
  }
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
